################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Messanger.Client/obj
/Messanger.Client/bin
/Messanger.DataBase/obj
/Messanger.Server/bin
/Messanger.Server/obj
/Messanger.Server/DataBase.db
/Messanger.Server/DataBase.db-shm
/Messanger.Server/DataBase.db-wal
/packages
/Messanger.Client/config.json
